<nb-layout window>
  <nb-layout-header fixed>
    <a href="#" (click)="toggle()" class="content"
    ><span class="material-icons"> format_list_bulleted </span></a
  >
  <app-serv-pillihuaman-header-home></app-serv-pillihuaman-header-home>
  </nb-layout-header>
  <nb-sidebar tag="menu-barapp" state="collapsed">
    <serv-pillihuaman-sidebar-home></serv-pillihuaman-sidebar-home>
  </nb-sidebar>
  <nb-layout-column class="colored-column-basic" (click)="toggleout()">
    <div >
    <router-outlet></router-outlet>
    </div>
  </nb-layout-column>


</nb-layout>


