

h4 {
    color: rgb(12, 114, 223);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }
  
  .flex-container {
    display: flex;
    //border: 1px solid tomato;
    flood-opacity: inherit;
    justify-content: center;
  }
  
  .flex-container div {
    //border: 1px solid gainsboro;
    margin: 1vw;
    margin-left: 10%;
    padding: 1px;
  }